body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}
#pageHeader {
	background: #569F34 url(../static/bg.jpg) repeat-x;
	color:#FFFFFF;
	height:90px;
	overflow:hidden;
}

#mantisLogo {
	margin:0px;
	float:right;
	height:70px;
}

.visual-clear {
	margin:0px;
	padding:0px;
	height:0px;
	line-height:0px;
	clear:both;
}

/* System menu styles */
.menu-item {
	cursor:pointer;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	padding:3px 8px 3px 8px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
}
#systemMenu {
	float:left;
	height:20px;
	width:40%;
}
#userMenu {
	float:right;
	height:20px;
	width:40%;
}
.menu-item-selected .menu-item{
	color:#000000;
	background:#99D37E;
}
/* End system menu styles */

/* Add call panel styles */
.field-helper {
	color:#CCCCCC;
	font-size:8pt;
	padding-top:5px;
}
/* Caller styles */
.caller-match-1 {
	color: #000000;
}
.caller-match-2 {
	color: #666666;
}
.caller-match-3 {
	color: #999999;
}
/* User status */
.user-status-icon {
	float:right;
}
/* priority */
.priority-critical {
	font-weight:bold;
	color:#CC0000;
}
.priority-urgent {
	font-weight:bold;
	color:#000000;
}
.priority-moderate {
	font-weight:normal;
	color:#000000;
}
.priority-minor {
	font-weight:normal;
	color:#666666;
}
.priority-negligible {
	font-weight:normal;
	color:#666666;
	font-style: italic;
}
/* end priority */

/* Basic skinning niceties */
.x-panel-body {
    border:none;
}
.x-panel {
    border:none;
}
.x-window-mc {
    border:none;
}